@media (max-width: 767px){
    body{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;

    }
    main{
        flex-direction: column;
        width: 380px;
        height: 300px;
    }
    #play{
        position: absolute;
        bottom: 9vh;
        width: 50vh;
    }
    button{
        z-index: 1;
        position: absolute;
        bottom: -4vh; 
        left: 50%; 
        transform: translateX(-50%);
        padding: 23px;
    }
}